html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a4f54;
    background-color: #fff;
    font-size: small;
}

.main-header {
    border-top: 7px solid #505559;
    margin: 0 auto;
    height: 45px;
}

.main-header h1 {
    float: left;
    margin-left: 15px;
}

.main-header form {
    float: right;
    margin-right: 15px;
    padding-top: 20px;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

.container {
    clear: both;
    padding: 15px;
    background-color: #eee;
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #505559;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 2.5em;
}


#portalButtons{
    padding-top:5px;
}

#title {
    font-size: 30px;
}