@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* GENERAL */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif !important;
    margin: 0;
    padding: 0;
    line-height: 1.34;
}

footer {
    text-align: center;
}

/* INDEX PAGE - HEADER */
header {
    height: 100px;
}

header h1 {
    margin-bottom: 0;
    margin-top: 30px;
    margin-left: 15px;
}

/* INDEX PAGE - LOGIN FORM */
/*#login-form {
    margin-top: 10px;
    margin-right: 15px;
    float:right;
}

#login-grid {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px !important;
    margin: 5px 5px;
}

#login-grid > *,
#login-grid > * > *,
#login-grid > * > * > * {
    border: none;
}*/

/* INDEX PAGE - BANNER IMG */
/*.banner-img {
    margin-left: 100px;
}

.banner-img img {
    height: 400px;
}
*/

/* INDEX PAGE - REGISTER FORM */
.register input {
    height: 35px;
}

#state span {
    margin-right: 15px !important;
    padding-right: 5px !important;
}

.ui-selectonemenu {
    padding-right: 0 !important;
}

.ui-selectonemenu,
.ui-selectionmenu-trigger
.ui-corner-right {
    box-shadow: inset 0 2px 2px #8f8f8f !important;
}

.ui-messages-close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*#register-form {
    margin: 0;
    padding: 0;
    margin-right: 100px;
    float:right;
}

.sbox {
    padding: 8px 10px;
    width: 133px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.mbox {
    padding: 8px 10px;
    width: 194px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.lbox {
    padding: 8px 10px;
    display: block;
    width: 399px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}*/

/* INDEX PAGE - BUTTON */
#login-btn,
#register-btn {
    text-shadow: none !important;
}

/* CONTENT */
.content {
    margin-bottom: 30px;
}

/* HOME PAGE - LOGO */
#logobox {
    width: 145px;
    margin-left: 15px;
}

#logo {
    width: 40px;
    margin-top: 20px;
    margin-right: 5px;
}

/* HOME PAGE - PAGE NOT AVAILABLE */
#pna {
    text-align: center;
    line-height: 400px;
}

/* HOME PAGE - NAVIGATION BAR */
.navbar {
    margin-top: 10px;
    margin-right: 15px;
}

/* FLOAT AND CLEARFIX */

.lfloat {
    float: left;
}

.mfloat {
    display: inline-block;
}

.rfloat {
    float: right;
}

.clearfix {
    zoom: 1;
    overflow: hidden;
}

.clearfix:before,
.clearfix:after {
    display: table;
}

.clearfix:after {
    clear: both;
    content:" ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.ui-state-default {
    text-shadow: none !important;
}

.ui-panelgrid .ui-panelgrid-cell{
    border: none !important;
}

.ui-panelgrid {
    border-collapse: separate !important;
}

#messageTitle .ui-widget-content {
    border: none !important;
}