@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.34;
}

header {
    height: 100px;
}

header h1 {
    margin-bottom: 0;
    margin-top: 30px;
    margin-left: 15px;
}

#login-form {
    margin-top: 20px;
    margin-right: 15px;
}

#login-grid {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px !important;
}

#login-grid > *,
#login-grid > * > *,
#login-grid > * > * > * {
    border: none;
}

.content {
    margin-top: 40px;
    margin-bottom: 60px;
}

.banner-img {
    
}

.banner-img img {
    height: 400px;
}

#register-form {
    margin: 0;
    padding: 0;
}

.sbox {
    padding: 8px 10px;
    width: 133px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.mbox {
    padding: 8px 10px;
    width: 194px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.lbox {
    padding: 8px 10px;
    display: block;
    width: 399px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

#login-btn,
#register-btn {
    padding: 7px 20px;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    font-size: 15px;
}

footer {
}

.lfloat {
    float: left;
}

.mfloat {
    display: inline-block;
}

.rfloat {
    float: right;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
}

.clearfix:after {
    clear: both;
    content:" ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    margin-top: 10px !important;
}
